<div  class="fh5co-hero">
  <div class="bottom" >
    <div style="vertical-align: middle;margin-top: 14px;">
  <label style="color: white;font-size: 15px;margin-right: 20px">您有发布数据的需求?</label>
  <button type="button" class="btn btn-info btn-sm" routerLink="/requester" style="padding: 5px 18px 5px 18px;border-radius: 20px;">前往发布区</button>
    </div>
  </div>
  <div class="fh5co-overlay"></div>
  <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url('https://cseiii-image-hosting.oss-cn-shenzhen.aliyuncs.com/b2.jpg');">
    <div class="desc animate-box">
      <h3>创造 <strong>新的工作机会</strong></h3>
      <br/>
      <span>欢迎来到 <a target="_blank" class="fh5co-site-name">IMGTAG</a></span>
      <div class="hvr-shutter-in-horizontal"><a routerLink="/worker/workboard/" class="btn btn-hero-success btn-sm" style="font-size: 20px">开始工作</a></div>
    </div>
  </div>

</div>
<div id="fh5co-features">
  <div class="container">
    <div class="row">
      <div class="col-md-4">

        <div class="feature-left">
							<span class="icon">
								<fa name="cog" size="3x"></fa>
							</span>
          <div class="feature-copy">
            <h3>零用</h3>
            <p>花上一天的剩余时间，你可以为自己的工资做有力的补充</p>
          </div>
        </div>

      </div>

      <div class="col-md-4">
        <div class="feature-left">
							<span class="icon">
								<fa name="check" size="3x"></fa>
							</span>
          <div class="feature-copy">
            <h3>公平</h3>
            <p>这里我们对所有的工作只关心效率与结果，保证一定的公平性</p>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="feature-left">
							<span class="icon">
								<fa name="magic" size="3x"></fa>
							</span>
          <div class="feature-copy">
            <h3>竞争</h3>
            <p>这里我们的工作带有一定的竞争机制，你可以体验到如同RPG游戏般的体验</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-feature-product" class="fh5co-section-gray">
  <div class="container">
    <div class="row row-bottom-padded-md">
      <div class="col-md-12 text-center heading-section">
        <h3>想成为我们的伙伴</h3>
        <p>如果你是一个出色的开发者，在这里你可以找到你想要的角色</p>
      </div>
      <div class="col-md-12 text-center">
        <p><button class="btn btn-success btn-lg" style="color: #fff;">加入我们</button></p>
      </div>
    </div>
</div>
</div>
